-- Enrichment SQL generated by enrich-orders.mjs
-- 2026-03-26T18:16:36.051Z
-- Orders fetched: 45, skipped: 0, failed: 0
BEGIN;

-- 20015183-GLT (order_id=7)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Powerhouse Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22134), updated_at = NOW() WHERE id = 7;
UPDATE order_properties SET address = COALESCE(address, '8632 Tyrone Ave'), city = COALESCE(city, 'Panorama City'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91402'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 7;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 7, '8632 Tyrone Ave', 'Panorama City', 'CA', '91402', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 7);

-- 20015184-GLT (order_id=8)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Bar-None Escrow, Inc.'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22141), updated_at = NOW() WHERE id = 8;
UPDATE order_properties SET address = COALESCE(address, '15677 Betters Road'), city = COALESCE(city, 'Madera'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '93636'), county = COALESCE(county, 'Madera'), updated_at = NOW() WHERE order_id = 8;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 8, '15677 Betters Road', 'Madera', 'CA', '93636', 'Madera'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 8);

-- 20015185-GLT (order_id=9)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 1289000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Infinity Escrow Company'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22149), updated_at = NOW() WHERE id = 9;
UPDATE order_properties SET address = COALESCE(address, '7409 Irvine Avenue'), city = COALESCE(city, 'Los Angeles'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91605'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 9;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 9, '7409 Irvine Avenue', 'Los Angeles', 'CA', '91605', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 9);

-- 20015186-GLT (order_id=10)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Mission Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 10;
UPDATE order_properties SET address = COALESCE(address, '717 W Gateway Drive'), city = COALESCE(city, 'Palm Springs'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92262'), county = COALESCE(county, 'Riverside'), updated_at = NOW() WHERE order_id = 10;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 10, '717 W Gateway Drive', 'Palm Springs', 'CA', '92262', 'Riverside'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 10);

-- 20015187-OCT (order_id=11)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Lee Mortgage Advisors'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 11;
UPDATE order_properties SET address = COALESCE(address, '9312 Chapman Avenue'), city = COALESCE(city, 'Garden Grove'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92841'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 11;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 11, '9312 Chapman Avenue', 'Garden Grove', 'CA', '92841', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 11);

-- 99100775 (order_id=12)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Other'), sales_price = COALESCE(sales_price, 342000.00), order_type = COALESCE(order_type, 'Trustee Sale Guarantee'), marketing_source = COALESCE(marketing_source, 'California TD Specialists'), title_officer_id = COALESCE(title_officer_id, 10), sales_rep_id = COALESCE(sales_rep_id, 22122), updated_at = NOW() WHERE id = 12;
UPDATE order_properties SET address = COALESCE(address, '20542 W WISTERIA CT'), city = COALESCE(city, 'Northridge'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91326'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 12;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 12, '20542 W WISTERIA CT', 'Northridge', 'CA', '91326', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 12);

-- 99100776 (order_id=13)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Other'), sales_price = COALESCE(sales_price, 151000.00), order_type = COALESCE(order_type, 'Trustee Sale Guarantee'), marketing_source = COALESCE(marketing_source, 'California TD Specialists'), title_officer_id = COALESCE(title_officer_id, 10), sales_rep_id = COALESCE(sales_rep_id, 22122), updated_at = NOW() WHERE id = 13;
UPDATE order_properties SET address = COALESCE(address, '9035 ROHR PLACE'), city = COALESCE(city, 'San Diego'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92123'), county = COALESCE(county, 'San Diego'), updated_at = NOW() WHERE order_id = 13;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 13, '9035 ROHR PLACE', 'San Diego', 'CA', '92123', 'San Diego'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 13);

-- 20015188-OCT (order_id=14)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 1399000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Real Broker'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 14;
UPDATE order_properties SET address = COALESCE(address, '14541 Savin Avenue'), city = COALESCE(city, 'Irvine'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92606'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 14;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 14, '14541 Savin Avenue', 'Irvine', 'CA', '92606', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 14);

-- 20015189-GLT (order_id=15)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 10.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, '21st Century Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22123), updated_at = NOW() WHERE id = 15;
UPDATE order_properties SET address = COALESCE(address, '38875 Indian Rd'), city = COALESCE(city, 'Anza'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92539'), county = COALESCE(county, 'Riverside'), updated_at = NOW() WHERE order_id = 15;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 15, '38875 Indian Rd', 'Anza', 'CA', '92539', 'Riverside'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 15);

-- 20015190-OCT (order_id=16)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 10.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'TNG Real Estate Consultants'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22135), updated_at = NOW() WHERE id = 16;
UPDATE order_properties SET address = COALESCE(address, '3740 South Bear Street #123'), city = COALESCE(city, 'Santa Ana'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92704'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 16;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 16, '3740 South Bear Street #123', 'Santa Ana', 'CA', '92704', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 16);

-- 20015191-OCT (order_id=17)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 10.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Seventy Seven Management Group, Inc'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22142), updated_at = NOW() WHERE id = 17;
UPDATE order_properties SET address = COALESCE(address, '33150 Big Springs Road'), city = COALESCE(city, 'Acton'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '93510'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 17;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 17, '33150 Big Springs Road', 'Acton', 'CA', '93510', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 17);

-- 20015192-GLT (order_id=18)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Deluxe Escrow'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22134), updated_at = NOW() WHERE id = 18;
UPDATE order_properties SET address = COALESCE(address, '27703 Walnut Springs Avenue'), city = COALESCE(city, 'Santa Clarita'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91351'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 18;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 18, '27703 Walnut Springs Avenue', 'Santa Clarita', 'CA', '91351', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 18);

-- 20015193-GLT (order_id=19)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Mission Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 19;
UPDATE order_properties SET address = COALESCE(address, '1308 N Mulberry Avenue'), city = COALESCE(city, 'Compton'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90222'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 19;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 19, '1308 N Mulberry Avenue', 'Compton', 'CA', '90222', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 19);

-- 20015194-OCT (order_id=20)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Mortgage Vintage'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22152), updated_at = NOW() WHERE id = 20;
UPDATE order_properties SET address = COALESCE(address, '335 Jane Drive'), city = COALESCE(city, 'Woodside'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '94062-3543'), county = COALESCE(county, 'San Mateo'), updated_at = NOW() WHERE order_id = 20;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 20, '335 Jane Drive', 'Woodside', 'CA', '94062-3543', 'San Mateo'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 20);

-- 20015195-GLT (order_id=21)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 207391.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Closing Agents Escrow, Inc'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22121), updated_at = NOW() WHERE id = 21;
UPDATE order_properties SET address = COALESCE(address, '233 Rancho Street'), city = COALESCE(city, 'Ridgecrest'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '93555'), county = COALESCE(county, 'Kern'), updated_at = NOW() WHERE order_id = 21;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 21, '233 Rancho Street', 'Ridgecrest', 'CA', '93555', 'Kern'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 21);

-- 20015196-OCT (order_id=22)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'The Escrow Forum'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 22;
UPDATE order_properties SET address = COALESCE(address, '26801 Poveda #9'), city = COALESCE(city, 'Mission Viejo'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92691'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 22;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 22, '26801 Poveda #9', 'Mission Viejo', 'CA', '92691', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 22);

-- 20015197-OCT (order_id=23)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Escrow Options Group'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 23;
UPDATE order_properties SET address = COALESCE(address, '2 Roshelle Lane'), city = COALESCE(city, 'Mission Viejo'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92694'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 23;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 23, '2 Roshelle Lane', 'Mission Viejo', 'CA', '92694', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 23);

-- 20015198-GLT (order_id=24)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Vip Trust Deed Company'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22160), updated_at = NOW() WHERE id = 24;
UPDATE order_properties SET address = COALESCE(address, '7014 S Vermont Ave'), city = COALESCE(city, 'Los Angeles'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90044'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 24;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 24, '7014 S Vermont Ave', 'Los Angeles', 'CA', '90044', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 24);

-- 20015199-OCT (order_id=25)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Val-Chris Investments, Inc.'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22152), updated_at = NOW() WHERE id = 25;
UPDATE order_properties SET address = COALESCE(address, '810 West 134th Street'), city = COALESCE(city, 'Compton'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90222'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 25;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 25, '810 West 134th Street', 'Compton', 'CA', '90222', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 25);

-- 20015200-OCT (order_id=26)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Val-Chris Investments, Inc.'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22152), updated_at = NOW() WHERE id = 26;
UPDATE order_properties SET address = COALESCE(address, '2033 Lemnos Drive'), city = COALESCE(city, 'Costa Mesa'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92626'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 26;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 26, '2033 Lemnos Drive', 'Costa Mesa', 'CA', '92626', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 26);

-- 20015201-OCT (order_id=27)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'USA Homeownership Foundation, Inc.'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22119), updated_at = NOW() WHERE id = 27;
UPDATE order_properties SET address = COALESCE(address, '2501 Earlmar Dr'), city = COALESCE(city, 'Modesto'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '95350'), county = COALESCE(county, 'Stanislaus'), updated_at = NOW() WHERE order_id = 27;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 27, '2501 Earlmar Dr', 'Modesto', 'CA', '95350', 'Stanislaus'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 27);

-- 20015202-OCT (order_id=28)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Diamond Global Escrow'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 28;
UPDATE order_properties SET address = COALESCE(address, '21221 Grant Avenue'), city = COALESCE(city, 'Torrance'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90503'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 28;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 28, '21221 Grant Avenue', 'Torrance', 'CA', '90503', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 28);

-- 20015203-GLT (order_id=29)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'First Class Escrow Inc.'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 29;
UPDATE order_properties SET address = COALESCE(address, '203 Knotgrass Street'), city = COALESCE(city, 'Hemet'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92543'), county = COALESCE(county, 'Riverside'), updated_at = NOW() WHERE order_id = 29;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 29, '203 Knotgrass Street', 'Hemet', 'CA', '92543', 'Riverside'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 29);

-- 20015204-OCT (order_id=30)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Pacific Coast Title Company'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22136), updated_at = NOW() WHERE id = 30;
UPDATE order_properties SET address = COALESCE(address, '15236 Avenue 120'), city = COALESCE(city, 'Pixley'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '93256'), county = COALESCE(county, 'Tulare'), updated_at = NOW() WHERE order_id = 30;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 30, '15236 Avenue 120', 'Pixley', 'CA', '93256', 'Tulare'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 30);

-- 20015205-GLT (order_id=31)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 1325000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Prosper Escrow Corporation'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22129), updated_at = NOW() WHERE id = 31;
UPDATE order_properties SET address = COALESCE(address, '27 Royal Tern Ln'), city = COALESCE(city, 'Aliso Viejo'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92656'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 31;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 31, '27 Royal Tern Ln', 'Aliso Viejo', 'CA', '92656', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 31);

-- 20015206-GLT (order_id=32)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Premier Escrow Services'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 32;
UPDATE order_properties SET address = COALESCE(address, '9635 Buell Street'), city = COALESCE(city, 'Downey'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90241'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 32;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 32, '9635 Buell Street', 'Downey', 'CA', '90241', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 32);

-- 20015207-GLT (order_id=33)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 730000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Rowland Escrow'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22159), updated_at = NOW() WHERE id = 33;
UPDATE order_properties SET address = COALESCE(address, '3069 East Hopkins Street'), city = COALESCE(city, 'Ontario'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91761'), county = COALESCE(county, 'San Bernardino'), updated_at = NOW() WHERE order_id = 33;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 33, '3069 East Hopkins Street', 'Ontario', 'CA', '91761', 'San Bernardino'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 33);

-- 20015208-OCT (order_id=34)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Advanced Escrow Corporation'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 34;
UPDATE order_properties SET address = COALESCE(address, '32423 Outrigger Way #17'), city = COALESCE(city, 'Laguna Niguel'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92677'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 34;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 34, '32423 Outrigger Way #17', 'Laguna Niguel', 'CA', '92677', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 34);

-- 20015209-GLT (order_id=35)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Bridge Escrow Inc.'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 35;
UPDATE order_properties SET address = COALESCE(address, '724 South 5th Street'), city = COALESCE(city, 'Montebello'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90640'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 35;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 35, '724 South 5th Street', 'Montebello', 'CA', '90640', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 35);

-- 20015210-ONT (order_id=36)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 477000.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Pacific Coast Title Company'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22137), updated_at = NOW() WHERE id = 36;
UPDATE order_properties SET address = COALESCE(address, '917 Anita Avenue'), city = COALESCE(city, 'Big Bear City'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92314'), county = COALESCE(county, 'San Bernardino'), updated_at = NOW() WHERE order_id = 36;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 36, '917 Anita Avenue', 'Big Bear City', 'CA', '92314', 'San Bernardino'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 36);

-- 20015211-OCT (order_id=37)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Lion Heart Escrow'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22155), updated_at = NOW() WHERE id = 37;
UPDATE order_properties SET address = COALESCE(address, '4624 W Sussex Way'), city = COALESCE(city, 'Fresno'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '93722'), county = COALESCE(county, 'Fresno'), updated_at = NOW() WHERE order_id = 37;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 37, '4624 W Sussex Way', 'Fresno', 'CA', '93722', 'Fresno'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 37);

-- 20015212-GLT (order_id=38)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'NFM Lending  LLC'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22159), updated_at = NOW() WHERE id = 38;
UPDATE order_properties SET address = COALESCE(address, '14247 Savanna Street'), city = COALESCE(city, 'Adelanto'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92301'), county = COALESCE(county, 'San Bernardino'), updated_at = NOW() WHERE order_id = 38;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 38, '14247 Savanna Street', 'Adelanto', 'CA', '92301', 'San Bernardino'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 38);

-- 20015213-OCT (order_id=39)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 965000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Beach Cities Escrow'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22135), updated_at = NOW() WHERE id = 39;
UPDATE order_properties SET address = COALESCE(address, '33671 Blue Lantern Street #D'), city = COALESCE(city, 'Dana Point'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92629'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 39;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 39, '33671 Blue Lantern Street #D', 'Dana Point', 'CA', '92629', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 39);

-- 20015214-OCT (order_id=40)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'The Escrow Forum'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 40;
UPDATE order_properties SET address = COALESCE(address, '6043 Piros Way'), city = COALESCE(city, 'Oceanside'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92056'), county = COALESCE(county, 'San Diego'), updated_at = NOW() WHERE order_id = 40;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 40, '6043 Piros Way', 'Oceanside', 'CA', '92056', 'San Diego'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 40);

-- 20015215-GLT (order_id=41)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'The Escrow Solution Inc.'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22157), updated_at = NOW() WHERE id = 41;
UPDATE order_properties SET address = COALESCE(address, '115 N Vine Street'), city = COALESCE(city, 'Anaheim'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92805'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 41;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 41, '115 N Vine Street', 'Anaheim', 'CA', '92805', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 41);

-- 20015216-OCT (order_id=42)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Equity Smart Home Loans, Inc.'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 42;
UPDATE order_properties SET address = COALESCE(address, '5542 Strohm Avenue'), city = COALESCE(city, 'North Hollywood'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '91601'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 42;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 42, '5542 Strohm Avenue', 'North Hollywood', 'CA', '91601', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 42);

-- 20015217-GLT (order_id=43)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 525000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Prime Time Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22155), updated_at = NOW() WHERE id = 43;
UPDATE order_properties SET address = COALESCE(address, '5300 Noble Street'), city = COALESCE(city, 'Riverside'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92503'), county = COALESCE(county, 'Riverside'), updated_at = NOW() WHERE order_id = 43;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 43, '5300 Noble Street', 'Riverside', 'CA', '92503', 'Riverside'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 43);

-- 20015218-OCT (order_id=44)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Ocean Pacific Escrow'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22155), updated_at = NOW() WHERE id = 44;
UPDATE order_properties SET address = COALESCE(address, '13228 South Wilkie Avenue'), city = COALESCE(city, 'Gardena'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90249'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 44;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 44, '13228 South Wilkie Avenue', 'Gardena', 'CA', '90249', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 44);

-- 20015219-OCT (order_id=45)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Full ALTA'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title & Escrow'), marketing_source = COALESCE(marketing_source, 'Val-Chris Investments, Inc.'), title_officer_id = COALESCE(title_officer_id, 5), sales_rep_id = COALESCE(sales_rep_id, 22152), updated_at = NOW() WHERE id = 45;
UPDATE order_properties SET address = COALESCE(address, '605 North Rexford Drive'), city = COALESCE(city, 'Beverly Hills'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90210'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 45;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 45, '605 North Rexford Drive', 'Beverly Hills', 'CA', '90210', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 45);

-- 20015220-GLT (order_id=46)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Ocean Pacific Escrow'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22155), updated_at = NOW() WHERE id = 46;
UPDATE order_properties SET address = COALESCE(address, '1901 Trebuchet Drive'), city = COALESCE(city, 'Borrego Springs'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92004'), county = COALESCE(county, 'San Diego'), updated_at = NOW() WHERE order_id = 46;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 46, '1901 Trebuchet Drive', 'Borrego Springs', 'CA', '92004', 'San Diego'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 46);

-- 20015221-OCT (order_id=47)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Canyon Escrow'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22155), updated_at = NOW() WHERE id = 47;
UPDATE order_properties SET address = COALESCE(address, '255 Scarlet Lane'), city = COALESCE(city, 'Patterson'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '95363'), county = COALESCE(county, 'Stanislaus'), updated_at = NOW() WHERE order_id = 47;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 47, '255 Scarlet Lane', 'Patterson', 'CA', '95363', 'Stanislaus'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 47);

-- 20015222-OCT (order_id=48)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Advanced Escrow Corporation'), title_officer_id = COALESCE(title_officer_id, 7), sales_rep_id = COALESCE(sales_rep_id, 22117), updated_at = NOW() WHERE id = 48;
UPDATE order_properties SET address = COALESCE(address, '15380 San Ardo Dr'), city = COALESCE(city, 'La Mirada'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '90638'), county = COALESCE(county, 'Los Angeles'), updated_at = NOW() WHERE order_id = 48;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 48, '15380 San Ardo Dr', 'La Mirada', 'CA', '90638', 'Los Angeles'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 48);

-- 20015223-GLT (order_id=49)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Purchase'), product_type = COALESCE(product_type, 'Residential Resale'), sales_price = COALESCE(sales_price, 960000.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Cal Land Realty'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22159), updated_at = NOW() WHERE id = 49;
UPDATE order_properties SET address = COALESCE(address, '1982 Orchard Drive'), city = COALESCE(city, 'Placentia'), state = COALESCE(state, 'CA'), zip = COALESCE(zip, '92870'), county = COALESCE(county, 'Orange'), updated_at = NOW() WHERE order_id = 49;
INSERT INTO order_properties (order_id, address, city, state, zip, county)
  SELECT 49, '1982 Orchard Drive', 'Placentia', 'CA', '92870', 'Orange'
  WHERE NOT EXISTS (SELECT 1 FROM order_properties WHERE order_id = 49);

-- 20015757-GLT (order_id=50)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Newport Financial Associates, Escrow Division'), title_officer_id = COALESCE(title_officer_id, 9), sales_rep_id = COALESCE(sales_rep_id, 22125), updated_at = NOW() WHERE id = 50;

-- 20015761-GLT (order_id=51)
UPDATE orders SET transaction_type = COALESCE(transaction_type, 'Refinance'), product_type = COALESCE(product_type, 'Short Form'), sales_price = COALESCE(sales_price, 0.00), order_type = COALESCE(order_type, 'Title only'), marketing_source = COALESCE(marketing_source, 'Newport Financial Associates, Escrow Division'), title_officer_id = COALESCE(title_officer_id, 6), sales_rep_id = COALESCE(sales_rep_id, 22125), updated_at = NOW() WHERE id = 51;

COMMIT;
